.form {
  width: 450px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 25px 0px 25px 0px;
}